@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Expense Tracker</h1>
        <p class="lead">
            Track your spending habits with ease with this personalised expense tracking system.
        </p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">All Expenses</h2>
            <p>Track your total expenses here</p>
            <p><a class="btn btn-outline-dark" href="/Expense/List">View Expenses &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Cards</h2>
            <p>
                Track your expenses in each card.
            </p>
            <p><a class="btn btn-outline-dark" href="/Card/List">View Cards &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Categories</h2>
            <p>Track your expenses in each category.</p>
            <p><a class="btn btn-outline-dark" href="/Category/List">View Expenses &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Mood</h2>
            <p>Track your expenses by Mood.</p>
            <p><a class="btn btn-outline-dark" href="/Mood/List">View Expenses &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Weather</h2>
            <p>Track your expenses by weather.</p>
            <p><a class="btn btn-outline-dark" href="/Weather/List">View Expenses &raquo;</a></p>
        </section>
    </div>
</main>